certifi
click
colorama
Flask
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
mkl-service
numexpr
packaging
pandas
pip
pyparsing
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
threadpoolctl
Werkzeug
wheel
wincertstore
Bottleneck
mkl-fft
numpy
mkl-random
lightgbm
tk
